body{
    background-image: url(../img/fundo-mat.jpg);
    background-size: cover;
    
}


.texto{

    margin-left: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    color: azure;
    
}


.atividade-h{
    width: 60vw;
    height: 40vw;
    border-radius: 30px;
    position: relative;
    left: 04vh;
    top: 10vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.atividade-h2{
    margin-bottom: 10em;
    width: 60vw;
    height: 40vw;
    border-radius: 0px;
    position: relative;
    left: 04vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.atividade-h img{
    border-radius: 20px;
    width: 100%;
    margin-left: 7em;
 }

 
.HH2{
    margin-left: 3em;
    width: 50%;
    font-family: cursive;
    color: aliceblue;
    
    }

    

.HH2 p{
margin-top: 2em;
font-family: cursive;
font-size: 20px;
font-weight: 80;
text-align: justify;

}

