@font-face {
    font-family: Glitch;
    src: url(../fonts/Doctor\ Glitch.otf); 
}
body{
    background-image: url(../img/fundo-ppe.jpg);
    background-size: cover;    
}


    button{
    
    margin: 20px;
    
    }

    .texto{
        color: #fff;
        font-family: Glitch;
        font-weight: lighter;
        margin: 0 5px;
        letter-spacing: 4px;
        margin-left: 15px;
        
        
    }
    
    /* CSS */
    .buttonss{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 400px;
    }

    .estilo{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    }
    .estilo:hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
        transform: translateY(-2px);
    }
    .estilo:active{
        box-shadow: inset 0px 3px 7px #d6d6e7;
        transform: translateY(2px);
    }
    